@media screen and (max-width: 768px) {
    .main {
        margin: 5%;
    }
    .right {
        width: 100%;
    }
    .details input{
        width:90%;
        height:6.5%;
        font-size:1rem;
    }
    .btn button{
        margin-bottom:15px;
        margin-right:2%;
       width:80%;
       height: 2rem;
       font-size:1rem;
    }
    .btns{
        width:auto;
        display:block;
    }
    .btns button{ margin-bottom:15px;
         margin-right:2%;
          font-size:16px;
          width:80%;
          height: 2rem; }
     .btns img{
        width: 1rem;
        height: 0.5rem;
     }
    .head1 h1, .head2 h2{
        font-size: 1rem;
        font-weight: 500;
        }
        
}
.main{
    margin: 20%;
    width: 53%;
    height: 80%;
    display: flex ;
    flex-direction: row;
    background: linear-gradient(64deg, #69B7FF -26.63%, #FFF 100%);

}
.left{
    width : 40%;
    height:80%;
    background: linear-gradient(64deg, #69B7FF -26.63%);
    flex-shrink: 0;
}
.left img{
width: 100%;
height: 125%;
flex-shrink: 0;
background: url(<path-to-image>), lightgray -76.643px -94px / 123.987% 117.668% no-repeat;
}
 .right{
   margin-left: 5%;
   margin-top: 5%;
    text-align: left;
    width: 50%;
    height: 80%;
    
}
.right a{
    text-decoration: none;
}
.head1 h1{
color: #202020;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 1%;
margin-bottom: 1%;
}
.head2 h2{
color: #353535;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 350;
line-height: normal;
margin-top: 1%;
margin-bottom: 1%;
}
.details label{
color: #202020;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 540;
line-height: normal;
}
.details input{
    color: #606060;
    font-family: Inter;
    font-size: 90%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    border: 1px solid #353535;
    background: #FFF;
}

.policy{
    margin-top: 1%;
    margin-bottom: 1%;
    color: #353535;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.policy a{
color: #3F46FF;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.btn button{
width: 11rem;
height: 1.7rem;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: url(<path-to-image>), lightgray -76.643px -94px / 123.987% 117.668% no-repeat;
border-radius: 10px;
background: #454bfa;
}
.or{
    display: flex;
    align-items: center;
    color: #353535;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.or hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #353535;
    margin: 0 10px;
}
 .btns {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

}
.btns img{
width: 1.8rem;
height: 0.8rem;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.btns button{
margin-left: 1%;
width: 7rem;
height: 2rem;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #353535;
background: #FFF;
}
.footer{
color: #353535;
text-align: center;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer a{
    color: #3F46FF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}